*.xpl
*.o
*.log
*~
*.in
Makefile
.project
.cproject
a.out
m4
Debug/
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
*.pcap
src/.deps/
src/SimpleList
src/libSimpleList.la
src/mptcptrace
stamp-h1
test-driver
tests/.deps/
tests/check_t1
tests/check_t1.trs

